# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# OS files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Local environment variables
.env

# Backup files
*_backup*
README_backup_before_day32.md
